<!DOCTYPE html>
    <% include partials/head %>
</head>
<body class="reset-password-page">
    <form action="/apiv1/user/changeLostPassword" method="POST" class="col-md-3">
        <h3>Промени паролата</h3>
        <input type="hidden" name="token" value="<%= token %>">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" id="field-password">
                    <i class="ico icon-password"></i>
                </span>
                <input type="password" name="newpass" id="reg-password" class="form-control" placeholder="Нова парола" aria-describedby="field-password">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="field-password">
                    <i class="ico icon-password"></i>
                </span>
                <input type="password" name="confirmpass" id="reg-password-check" class="form-control" placeholder="Повтори паролата" aria-describedby="field-password">
            </div>
        </div>
        <button type="submit" class="chill-button">Промени</button>
    </form>
</body>
</html>
