<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="vets" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="vets" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="vets" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="vets" class="no-js"> <!--<![endif]-->
<head>
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/home-page.js"></script>
</head>
<body class="home-chill">
<div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1898860510346340";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="overway"></div>
    <div class="sign-box">
        <div class="visible-xs sign-mobile-header">
            <img class="chill" alt="Brand" src="/images/logo.png">
            <div class="pull-right mobile-close-sign-box">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <form id="reg-form">
            <h2>Регистрация</h2>
            <div class="input-group">
                <span class="input-group-addon" id="field-names">
                    <i class="ico icon-user"></i>
                </span>
                <input type="text" id="reg-names" class="form-control" placeholder="Име и фамилия" aria-describedby="field-names">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="field-email">
                    <i class="ico icon-mail-2"></i>
                </span>
                <input type="email" id="reg-email" class="form-control" placeholder="Email" aria-describedby="field-email">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="field-password">
                    <i class="ico icon-password"></i>
                </span>
                <input type="password" id="reg-password" class="form-control" placeholder="Парола" aria-describedby="field-password">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="field-password">
                    <i class="ico icon-password"></i>
                </span>
                <input type="password" id="reg-password-check" class="form-control" placeholder="Повтори паролата" aria-describedby="field-password">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="agree-terms" value="1"> Съгласен съм с общите условия
                </label>
            </div>
            <div class="home-errors"></div>
            <div class="home-success"></div>
            <button type="submit" class="chill-button">Регистрация</button>
            <button type="button" class="fb-button">Facebook</button>
            <div class="sign-links">
                <a class="login-link dark-font">Вход</a>
                <a class="frg-pass-link dark-font">Забравена парола</a>
            </div>
        </form>
        <form id="login-form">
            <h2>Вход</h2>
            <div class="input-group">
                <span class="input-group-addon" id="field-email">
                    <i class="ico icon-mail-2"></i>
                </span>
                <input type="text" id="login-email" class="form-control" placeholder="Email" aria-describedby="field-email">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="field-password">
                    <i class="ico icon-password"></i>
                </span>
                <input type="password" id="login-password" class="form-control" placeholder="Password" aria-describedby="field-password">
            </div>
            <div class="home-errors"></div>
            <button type="submit" class="chill-button">Вход</button>
            <button type="button" class="fb-button">Facebook</button>
            <div class="sign-links">
                <a class="frg-pass-link dark-font">Забравена парола</a>
                <a class="reg-link dark-font">Регистрация</a>
            </div>
        </form>
        <form id="frg-pass-form">
            <h2>Забравена парола</h2>
            <div class="input-group">
                <span class="input-group-addon" id="field-email">
                    <i class="ico icon-mail-2"></i>
                </span>
                <input type="text" id="frg-email" class="form-control" placeholder="Email" aria-describedby="field-email">
            </div>
            <div class="home-errors"></div>
            <button type="submit" class="chill-button">Изпрати</button>
            <div class="sign-links">
                <a class="login-link dark-font">Вход</a>
            </div>
        </form>
    </div>
    <section class="container-fluid section-1">


        <!-- Start Nav -->
        <nav class="navbar navbar-default">
            <div class="container-fluid row">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img class="chill" alt="Brand" src="/images/logo.png"></a>
                    <div class="nav navbar-nav navbar-right pull-right right-part">
                        <a href="http://blog.chill.bg" id="blog-link">
                            Blog
                        </a>
                        <a href="#" id='login'>
                            Have an account? Log in
                            <i class="ico icon-drop-down-arrow"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Nav -->


        <div class="col-md-6">
            <h1>Защо да използваме мобилната платформа за щастливи кучета Chill?</h1>
            <ul>
                <li>Разполагате с електронен паспорт на кучето ви</li>
                <li>Споделяте профила на кучето със семейство и приятели</li>
                <li>Ще знаете какво разстояние изминавате в разходки и колко време Ви отнемат</li>
                <li>Ще запазвате и споделяте спомени от разходките с кучето</li>
                <li>Ще знаете къде са най-близките ветеринарни центрове при нужда</li>
                <li>Ще откривате лесно най-близките и удобни за Вас зоомагазини</li>
            </ul>
            <a href="https://itunes.apple.com/us/app/chill-dog-care/id1209678619?ls=1&mt=8" target="_blank">
                <img src="/images/appstore.png" class="appstore-img" />
            </a>
        </div>
        <div class="phone-image"></div>
    </section>



    <section class="container-fluid section-2">
        <div class="devices-image"></div>
        <div class="col-md-5 col-sm-6 col-sm-push-7 devices-text">
            <h2>Как може да използвате Chill?</h2>
            <ul>
                <li>Мобилна апликация за iPhone</li>
                <li>Уеб апликация, достъпна през десктоп и всички мобилни устройства</li>
            </ul>
            <p class="dark-font">Регистрацията отнема 2 минути, а помага всеки ден!</p>
            <button class="devices-button chill-button">Безплатна регистрация</button>
        </div>
    </section>



    <section class="container-fluid section-3">
        <div class="col-md-5 col-sm-6 why-chill">
            <h2>Каква е ползата от електронния паспорт в Chill?</h2>
            <p class="dark-font">Всички обичаме да видим радостно въртяща се опашка, прибирайки се у дома след работен ден. Любимото галене и мачкане понякога крият неприятни изненади като странно усещане от допир с кърлеж под козината. Решение на този проблем е навременното обезпаразитяване с най-ефективните продукти. 
            Дигиталният паспорт на кучето в Chill Ви напомня за предстоящите обезпаразитявания и ваксини. Паспортът включва най-важната информация за кучето Ви – номер на чипа му, кастрирано ли е, кога са правени ваксини и лечения. Цялата тази информация се споделя със семейство и приятели чрез един клик.</p>
        </div>
    </section>



    <section class="container-fluid section-4">
        <div class="how-chill">
            <div class="dogs-image"></div>
            <div class="col-sm-push-7 col-md-5 col-sm-5">
                <h2>Знаете ли колко време отделяте за разходка с Вашето кучето?</h2>
                <p class="dark-font">Всеки знае колко време продължава сутрешната и вечерната разходка на кучо. Любопитно ли Ви е какво разстояние изминавате, разхождайки се с Вашия най-добър приятел? Благодарение на Chill ще можете да преглеждате историята на разходките, както и да ги споделяте в социалните мрежи. В реално време ще имате информация за най-близките ветеринарни центрове и зоомагазини.</p>
            </div>
        </div>
    </section>



    <section class="container-fluid  section-5">
        <div class="col-md-12 row">
            <div class="col-md-4 what-more-chill">
                <h2>Всяко куче заслужава да бъде щастливо</h2>
                <p class="dark-font">Вярваме, че можем да бъдем страхотни стопани само с ИГРИ, ЛЮБОВ и ДИСЦИПЛИНА. Чрез тях можем да направим живота на кучетата ни истински щастлив. Защото заедно сме по-добри, Chill дава възможност на стопаните да споделят информацията за кучето със семейството, приятелите, какти и с любимия ветеринарен лекар.</p>
                <button class="download-button chill-button">Свали сега</button>
            </div>
        </div>
    </section>



    <section class="container-fluid  section-6">
        <div class="newsletter-section text-center">
            <h3 class="col-md-12">Абонирай се</h3>
            <form class="form-inline subscribe-to-chill">
                <div class="newsletter-box">
                    <div class="form-group">
                        <input type="email" class="form-control" id="subscribe-email">
                        <button type="submit" class="btn btn-default">
                            <i class="ico icon-right-arrow" aria-hidden="true"></i>
                        </button>
                    </div>
                    <p class="subscribe-success">Благодарим Ви, че се абонирахте!</p>
                </div>
                <div class="col-md-12">
                    <!-- <div class="checkbox">
                        <label>
                            <input type="checkbox" name="newsletter" value="1" id=""> Бюлетин
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="events" value="1" id=""> Събития
                        </label>
                    </div> -->
                    <p class="our-email"><a href="mailto:info@chill.bg">info@chill.bg</a></p>
                </div>
            </form>
        </div>
    </section>



    <footer class="container-fluid">
        <div class="go-to-top">
            <i class="ico icon-arrow-up" aria-hidden="true"></i>
        </div>
        <div class="col-md-12 pull-right social-icons">
            <p class="follow-us">Follow us</p>
            <a href="https://www.facebook.com/chilldogapp" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://www.instagram.com/chilldogapp" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>
    </footer>
</body>
</html>