<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="vets" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="vets" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="vets" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="vets" class="no-js"> <!--<![endif]-->
<head>
    <% include partials/head %>

    <link rel="stylesheet" type="text/css" href="/bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.css">
</head>
<body ng-cloak>
    <div class="main-dashboard">
        <nav class="navbar navbar-default navbar-static-top" ng-if="!(currentStateName == 'login' || currentStateName == 'signup')">
            <div class="fullwidth pull-left">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header col-md-12">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="logo-block">
                    <img src="/images/logo.svg" class="logo-chill" />
                    <div class="logo-right">
                        <span class="logo-brand">Chill</span>
                        <span class="logo-user-subtitle" ng-bind="user.email"></span>
                    </div>
                </div>
                <div class="pull-right header-buttons hidden-xs">
                    <div class="header-user-info">
                        <img ng-src="{{getPhotoFullUrl(user.photo)}}"/>
                        <a class="user-names" ui-sref="profile" ng-bind="(user.first_name || user.email)"></a>
                    </div>
                    <div class="separator"></div>
                    <button ui-sref="settings" disabled="disabled">
                        <i class="fi flaticon-calendar pull-right"></i>
                    </button>
                    <button ui-sref="settings" disabled="disabled">
                        <i class="fi flaticon-ring pull-right"></i>
                    </button>
                    <button ui-sref="settings" disabled="disabled">
                        <i class="fi flaticon-settings pull-right"></i>
                    </button>
                    <div class="separator"></div>
                    <button ng-click="logout()">
                        <i class="fi flaticon-logout pull-right"></i>
                    </button>
                </div>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="col-md-12 top-menu-down" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li ng-class="{active: isCurrentState('profile')}">
                      <a ui-sref="profile">Моят профил<span class="sr-only">(current)</span></a>
                    </li>
                    <li ng-class="{active: isCurrentState('walks')}">
                      <a ui-sref="walks">Разходки<span class="sr-only">(current)</span></a>
                    </li>
                    <!-- <li class="lost-dog-alert">
                        <span class="lost-dog-label">Обявяване за изгубено</span>
                        <img src="/images/lost-dog.svg">
                    </li> -->
                    <!-- <li ng-class="{active: currentStateName == 'newPlace'}">
                      <a ui-sref="newPlace">Добави клиника<span class="sr-only">(current)</span></a>
                    </li>
                    <li ng-class="{active: currentStateName == 'newVet'}">
                      <a ui-sref="newVet">Добави лекар<span class="sr-only">(current)</span></a>
                    </li>
                    <li ng-class="{active: currentStateName == 'allPlaces'}">
                      <a ui-sref="allPlaces">Клиники<span class="sr-only">(current)</span></a>
                    </li>
                    <li ng-class="{active: currentStateName == 'allVets'}">
                      <a ui-sref="allVets">Лекари<span class="sr-only">(current)</span></a>
                    </li> -->
                  </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="content-part">
            <div class="left-side-menu hidden-xs">
                <a class="menu-item" ui-sref="profile" ng-class="{'active-menu': isCurrentState('profile')}">
                    <i class="fi flaticon-social"></i>
                </a>
                <div class="menu-item" ng-class="{'active-menu': isCurrentState(['profileAnimal'])}">
                    <i class="fi flaticon-jack-russell-terrier"></i>
                    <ul class="dogs-list">
                        <li ng-class="{last: $last}" ng-repeat="(key, animal) in base.animals" ui-sref="profileAnimal({id: animal.id})">
                            <span ng-bind="animal.name"></span>
                        </li>
                        <li>
                            <button type="button" ui-sref="newAnimal">
                                <i class="ico icon-plus" aria-hidden="true"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- <a class="menu-item">
                    <i class="fi flaticon-business"></i>
                </a> -->
                <a class="menu-item" ui-sref="places" ng-class="{'active-menu': isCurrentState('places')}">
                    <i class="fi flaticon-gps"></i>
                </a>
            </div>
            <div class="right-main-panel" ui-view></div>
        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&libraries=places"></script>

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/libs/lodash.core.js"></script>
    <script src="../dist/app.min.js"></script>
    <script src="/components/version/version.js"></script>
    <script src="/components/version/version-directive.js"></script>
    <script src="/components/version/interpolate-filter.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/libs/richmarker-compiled.js" type="text/javascript"></script>


    <script src="/bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.js" type="text/javascript"></script>
</body>
</html>
