<!DOCTYPE html>
    <% include partials/head %>
</head>
<body class="reset-password-page">
    <form action="/apiv1/user/forgottenPassword" method="POST" class="col-md-3">
        <h3>Find your Chill account</h3>
        <div class="form-group">
            <label class="sr-only" for="email">Your Email address</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="ico icon-mail-2" aria-hidden="true"></i>
                </div>
                <input type="text" class="form-control" name="email" id="email" placeholder="Email">
            </div>
        </div>
        <button type="submit" class="chill-button">Намери</button>
    </form>
</body>
</html>
